.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.body {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

select {
    height: 40px;
    background: white;
    border: 0;
    width: 100%;
    padding: 0 10px;
}

.selected {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border-radius: 50px;
    min-height: 40px;
    min-width: 40px;
    margin: 0 10px;
}

.button {
    height: 40px;
    color: white;
    background: #000;
    border: 0;
    width: 200px;
}

